@using Microsoft.AspNet.Identity
@model HireOrRent.Models.Advertisement
@{
    ViewBag.Title = "Details";
}

<h2>Advertisement details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd style="text-align: justify; text-justify: inter-word;">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd>
            @Model.DateAdded.ToShortDateString()
        </dd>
        <br />
        <dt>
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-warning btn-sm" })
        </dt>
        <dd>
            @Html.ActionLink("Add new comment", "Create", "Comment", new { @id = Model.Id }, new { @class = "btn btn-info btn-sm" })
        </dd>
    </dl>
</div>

<h3 class="pull-left">Comments:</h3>
<dl class="dl-horizontal">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Author")
            </th>
            <th>
                @Html.DisplayNameFor(c => c.Content)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.DateAdded)
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>

        @foreach (var comment in Model.Comments)
        {
            <td>
                @comment.Author.FullName
            </td>
            <td style="text-align: justify; text-justify: inter-word;">
                @comment.Content
            </td>
            <td>
                @comment.DateAdded.ToShortDateString()
            </td>
            <td>
                @if (User.IsInRole("Admin") || comment.IsAuthor(User.Identity.GetUserId()))
                {
                    @Html.ActionLink("Edit", "Edit", "Comment", new { id = comment.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Comment", new { id = comment.Id }, new { @class = "btn btn-danger btn-xs" })
                }
            </td>
            <tr></tr>
        }
    </table>
</dl>