@using HireOrRent.Models

@model List<ApplicationUser>

@{
    ViewBag.Title = "List";

    var admins = (List<ApplicationUser>)ViewBag.Admins;
}

<h2>All users from <em>@ViewBag.CityName</em>:</h2>
        
    <table class="table table-striped table-hover col-sm-12">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>City</th>
                <th>Registered On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            if (admins.Any(u => u.Id == user.Id))
            {
                @:<tr class="info">
            }
            else 
            {
                @:<tr>
            }

            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.FullName</td>
            <td>@user.City.Name</td>
            <td>@user.RegisterDate.ToShortDateString()</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "User", new {@id = user.Id}, new {@class = "btn btn-success btn-xs"}) |
                @Html.ActionLink("Delete", "Delete", "User", new {@id = user.Id}, new {@class = "btn btn-danger btn-xs"})
            </td>
        }
        </tbody>
        <tr>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning btn-sm" })
        </tr>
    </table>
 